<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>448952356182-ifq032sqnbvehqg3otpbu2a1mgvr4jf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448952356182-ifq032sqnbvehqg3otpbu2a1mgvr4jf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAUPFOsGcxuiPDQkPwKiS0mR69m7EFeeXY</string>
	<key>GCM_SENDER_ID</key>
	<string>448952356182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bneal.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-d50fd</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-d50fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:448952356182:ios:cf5012ddbb7e8398</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-d50fd.firebaseio.com</string>
</dict>
</plist>